<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @pet.name %>
</p>

<p>
  <strong>Monthly cost:</strong>
  <%= @pet.monthly_cost %>
</p>

<p>
  <strong>Pet kind:</strong>
  <%= @pet.pet_kind %>
</p>

<p>
  <strong>Person:</strong>
  <%= @pet.person %>
</p>

<%= link_to 'Edit', edit_pet_path(@pet) %> |
<%= link_to 'Back', pets_path %>
