<!DOCTYPE html>
<html>
  <head>
    <title>PetList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <form class="form-inline">
        <%= link_to t(:home, scope: :helpers), root_path, class: "btn btn-outline-success my-2 my-sm-0" %>
      </form>
    </nav>
    <%= yield %>
  </body>
</html>
