<!DOCTYPE html>
<html>
  <head>
    <title>PetList</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-light bg-light">
      <div class="pull-right">
        <%= link_to t(:home, scope: :helpers), root_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to t(:pet, scope: [:activerecord, :models]), pets_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to t(:pet_kind, scope: [:activerecord, :models]), pet_kinds_path, class: "btn btn-outline-success my-2 my-sm-0" %>
        <%= link_to t(:person, scope: [:activerecord, :models]), people_path, class: "btn btn-outline-success my-2 my-sm-0" %>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
